# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/
.yarn/install-state.gz

# Mac files
.DS_Store

# Next.js files
.next/

# TypeScript files
tsconfig.tsbuildinfo

# Playwright files
.playwright-mcp/
